src/conf/xml-resources/web-service-references/Servicios/wsdl/localhost_8080/wsPacificBlue/Servicios.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebService/" name="Servicios">
<types>
<xsd:schema>
<xsd:import namespace="http://WebService/" schemaLocation="http://localhost:8080/wsPacificBlue/Servicios?xsd=1"/>
</xsd:schema>
</types>
<message name="validarUsuario">
<part name="parameters" element="tns:validarUsuario"/>
</message>
<message name="validarUsuarioResponse">
<part name="parameters" element="tns:validarUsuarioResponse"/>
</message>
<message name="Buscar_Clientes">
<part name="parameters" element="tns:Buscar_Clientes"/>
</message>
<message name="Buscar_ClientesResponse">
<part name="parameters" element="tns:Buscar_ClientesResponse"/>
</message>
<message name="CrearFactura">
<part name="parameters" element="tns:CrearFactura"/>
</message>
<message name="CrearFacturaResponse">
<part name="parameters" element="tns:CrearFacturaResponse"/>
</message>
<message name="AgregarCliente">
<part name="parameters" element="tns:AgregarCliente"/>
</message>
<message name="AgregarClienteResponse">
<part name="parameters" element="tns:AgregarClienteResponse"/>
</message>
<message name="ValidarCliente">
<part name="parameters" element="tns:ValidarCliente"/>
</message>
<message name="ValidarClienteResponse">
<part name="parameters" element="tns:ValidarClienteResponse"/>
</message>
<portType name="Servicios">
<operation name="validarUsuario">
<input wsam:Action="http://WebService/Servicios/validarUsuarioRequest" message="tns:validarUsuario"/>
<output wsam:Action="http://WebService/Servicios/validarUsuarioResponse" message="tns:validarUsuarioResponse"/>
</operation>
<operation name="Buscar_Clientes">
<input wsam:Action="http://WebService/Servicios/Buscar_ClientesRequest" message="tns:Buscar_Clientes"/>
<output wsam:Action="http://WebService/Servicios/Buscar_ClientesResponse" message="tns:Buscar_ClientesResponse"/>
</operation>
<operation name="CrearFactura">
<input wsam:Action="http://WebService/Servicios/CrearFacturaRequest" message="tns:CrearFactura"/>
<output wsam:Action="http://WebService/Servicios/CrearFacturaResponse" message="tns:CrearFacturaResponse"/>
</operation>
<operation name="AgregarCliente">
<input wsam:Action="http://WebService/Servicios/AgregarClienteRequest" message="tns:AgregarCliente"/>
<output wsam:Action="http://WebService/Servicios/AgregarClienteResponse" message="tns:AgregarClienteResponse"/>
</operation>
<operation name="ValidarCliente">
<input wsam:Action="http://WebService/Servicios/ValidarClienteRequest" message="tns:ValidarCliente"/>
<output wsam:Action="http://WebService/Servicios/ValidarClienteResponse" message="tns:ValidarClienteResponse"/>
</operation>
</portType>
<binding name="ServiciosPortBinding" type="tns:Servicios">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="validarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Buscar_Clientes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CrearFactura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AgregarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ValidarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Servicios">
<port name="ServiciosPort" binding="tns:ServiciosPortBinding">
<soap:address location="http://localhost:8080/wsPacificBlue/Servicios"/>
</port>
</service>
</definitions>